	/* ================================================================
   COMPONENTS
   ================================================================ */

.container {
	@include container;
	// @include susy-grid-background;
}

header.main-header {
	//background-image: url('../img/topgrunge.png');
	//background-position: top center;
	//
	background-position: top center;
	// background-image: url('../img/band.png') !important;
	background-repeat: no-repeat;

	.header__logo {
		@include span-columns(12 omega);
		display: block;
		text-align: center;
		img {
			width: 20em;
		}
		margin: 3em 0;
	}

	nav.social {
		text-align: center;
		@include span-columns(12 omega);
		margin-bottom: gutter();

		ul  {
			list-style-type: none; 
			padding-left: 0;
			indent: 0;
			margin-left: 0;

			li {
				display: inline;
				a {
					padding: 0.7em;
					padding-top: 0.5em; // Because for some reason it's weird this way
					background-color: $btnGray;

					&:hover {
						background-color: $hoverRed;
					}
				}
				margin-right: gutter();
			}

			li:nth-child(2) {
				margin-right: 0;
			}
		}
	}
}

.main-nav {
	ul {
	    padding: 0;
	    list-style-type: none;	
	}		
}

.main-nav__button {
	text-align: center;
	font-family: $serif;
	text-transform: uppercase;
	font-size: 1em;

	@include span-columns(6);
	@include nth-omega(2n);
	margin-bottom: gutter();
	
	a {
		background-color: $btnGray;
		color: $light;
		display: block;
		padding: 0.5em 1em;
		@include text-shadow(rgba(0,0,0,0.75) 0 1px 1px);

		&:hover {
			background-color: $hoverRed;
		}
	}
}

.main-content {
	margin-bottom:3em;
}

h1.section-header {
	margin-top: 0;
	font-family: $serif;
	font-size: 2em;	
	border-bottom: 1px solid rgba(255,255,255,0.35);
	@include text-shadow(rgba(black,0.4) 0 1px 0);
}

article.news-story {

	h2.news-story__title {
		margin-bottom:0.5em;
		@include text-shadow(rgba(black,0.4) 0 1px 0);
	}

	div.news-story__meta {
		font-family: $serif;
		text-transform: uppercase;
		font-weight: 300;
		color:#bcbbbb;
		font-family: $sansSerif;
		font-size:0.9em;
		margin-bottom:2em;
		@include text-shadow(rgba(black,0.4) 0 1px 0);
	}

	.news-story__body {
		#{headings(all)} {
			font-family: $sansSerif;
			margin-bottom:0.3em;
		}
	}

	.news-story__read-more {
		display:block;
		color: orange;
		@include span-columns(12 omega, 12);
		@include text-shadow(rgba(black,0.4) 0 1px 0);
		padding: 0.7em 1em;
		margin-bottom: 5em;
		text-align: center;
		text-transform: uppercase;
		font-family: $serif;
		color:$light;
		background-color: $btnGray;
		margin-top:2em;

		&:hover {
			background-color: $hoverRed;
		}

	}

}

.cover-photo { 
	& > img {
		max-width: 100%;
		max-height: 30em;
	}
	@include span-columns(8 omega, 8);
	margin-bottom: gutter();

}

.sidebar {
	margin-bottom:3em;
}

.sidebar-module {
	margin-bottom:gutter();
}

.sidebar-module--gigs, .sidebar-module--band-members {
	.gig, .band-member {
		display: block;
		color: $light; 
		@include span-columns(12 omega);
		background-color: $btnGray;
		padding: gutter();
		margin-bottom: 1em;
		
		&:hover {
			background-color: $hoverRed; 
		}
		.gig__image, .band-member__avatar {
			@include span-columns(2);
		}

		.gig__info, .band-member__info {
			@include span-columns(10 omega);

			.gig__info-venue, .band-member__info-name {
				font-weight: bold;
				display: block;
			}

			.gig__info-date, .band-member__info-instruments {
				font-size: $smallFontSize;
			}
		}
	}

} 

.twitter-timeline {
	@include span-columns(12 omega);
	height: 30em;
}

ul.pagination {
	@include span-columns(12 omega);
	text-align: center;
	list-style-type: none;
	text-indent: 0;
	padding-left: 0;
	font-family: $serif;

	li {
		float: left;
		background-color: $btnGray;
		margin-right: 0.5em;
		font-weight: 700;
	
		&.active, &.disabled {
			background-color: $disabledGray;
			color: darken($light, 60%);
		}

		a {
			color: $light;
		}

		a, &.active, &.disabled {
			padding: 0.5em;
			display: block;
		}

	}
}

.member__image {
	@include span-columns(12 omega);
	margin-bottom: 1em;
}

.member__details {
	@include span-columns(12 omega);
}

#gig-list {
	.gig-list__gig {
		color: $light; 
		@include span-columns(12);
		margin-right: 0;
		height: 10em;
		display: block;
		.gig-image {
			@include span-columns(2);	
			img {
				height: 10em;
			}
		}
		.gig-details {
			text-align: center;
			.gig-details__venue {
				padding: 1em;
				background-color: lighten($btnGray, 10%);

				&:hover {
					background-color: lighten($btnGray, 13%);
				}
			}
			.gig-details__info {
				padding: 1em;
				line-height: 1.5em !important;
			}
			@include span-columns(10 omega);
			height: 10em;
			background-color: $btnGray;

			&:hover {
				background-color: lighten($btnGray, 3%);
			}
		}
	}
}

.contact-form { 
	@include span-columns(12 omega);

	.contact-form__control {
		margin-bottom: gutter();
	}
	.contact-form__label {
		@include span-columns(12 omega, 12);
		padding: 0.5em;
	}
	.contact-form__input {
		@include span-columns(12 omega, 12);
		padding: 0.5em;
	}
	.contact-form__input--offset {
		@include span-columns(12 omega, 12);
	}
	.contact-form__input.error {
		border: 1px solid $linkRed;
		color: $linkRed;
		background-color: lighten($linkRed, 50%) !important;
	}
	.contact-form__submit {
		background-color: $btnGray;
		border: 0;
		padding: 1em;
		color: $light;
		@include text-shadow(rgba(0,0,0,0.75) 0 1px 1px);

		&:hover {
			background-color: $hoverRed;
		}
	}
	.contact-form__field-error {
		color: lighten($linkRed, 20%);
		font-size: 0.8em;
		margin-top: gutter();
	}
}

.success {
	background-color: #48ba65;
	padding: 1em;
	margin-bottom: 1em;
}

.errors, .error {
	background-color: $linkRed;
	padding: 1em;
	color: $light;
	margin-bottom: 1em;

	ul {
		margin-top: 1em;
	}
}


footer.footer {
	@include span-columns(12 omega);
	padding-bottom: 3em !important;
	margin-top: 6em !important;

	.footer__logo {
		@include span-columns(12 omega);
		margin-bottom: 2em;
	}

	.footer__left {
		@include span-columns(12 omega);

		.contact-details {
			@include span-columns(12 omega);
			height: 100%;
			// font-size: $smallFontSize;
		}
	}

	.footer__right {
		margin-top: 2em;
		@include span-columns(12 omega);
		// font-size: $smallFontSize;

		.copyright {
			margin-top: 3em;
		}
	}
}

.single-gig {
	@include span-columns(12);

	.single-gig__image {
		@include span-columns(12 omega);
		margin-bottom: gutter();
	}
	.single-gig__details {
		@include span-columns(12 omega);

		.single-gig__description {
			margin-bottom: (gutter() * 2);
		}
	}

	.single-gig__venue {
		@include span-columns(12);
		margin-top: (gutter() * 2) !important;

		.venue__map {
			@include span-columns(12);
			height: 15em;
			margin-bottom: (gutter() * 2) !important;
		}
	}
}

.band-photos {
	.band-photos__photo {
		@include span-columns(12);
	}

	margin-bottom: gutter() * 2;
}

.band-video {
	@include span-columns(12);
	height: 15em;
}
