/* ================================================================
   ELEMENTS
   ================================================================ */

*,
*:before,
*:after {
    @include box-sizing(border-box);
    line-height:1.5em;
}

html,
body {
    min-height: 100%;
    font-size:14px !important;
    font-family: $sansSerif;
    font-weight: 300;
    letter-spacing: 0.07em;
    background-image: url('../img/bg-black.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $bgGray;
    color: $light;
    margin: 0 !important;
}

html {
    font: 400 #{$base-font-size}/#{$base-line-height} 'Open Sans', sans-serif;
}

img {
    vertical-align: middle;
}

#{headings(all)},
p,
ul,
ol,
blockquote,
form,
pre {
    @include rem(margin-bottom, 1em);
    margin-top: 0;
}
a {
    text-decoration: none;
    color: $linkRed;
} 
a:hover {
    color: lighten($linkRed, 10%)
}

#{headings(all)} {
    line-height:1.7em;
    font-family: $serif;
}

h1,
.h1 {
    font-size: 1.75em;
}

h2,
.h2 {
    font-size: 1.4em;
}


textarea {
    resize: vertical;
}
