/* ================================================================
   HELPER CLASSES
   ================================================================ */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}