/* ================================================================
   MEDIA QUERIES
   ================================================================ */

/* Small-mid
   ---------------------------------------------------------------- */

@include at-breakpoint($small-mid) {

}


/* Wide-mid
   ---------------------------------------------------------------- */

@include at-breakpoint($wide-mid) {

}


/* Wide
   ---------------------------------------------------------------- */

@include at-breakpoint($wide) {

	/**
	 * START CONTACT FORM STYLING
	 */
	.contact-form { 
		@include span-columns(12 omega);

		.contact-form__control {
			margin-bottom: gutter();
		}
		.contact-form__label {
			@include span-columns(4, 12);
			padding: 0.5em;
		}
		.contact-form__input {
			@include span-columns(8 omega, 12);
			padding: 0.5em;
		}
		.contact-form__input--offset {
			@include pre(4, 12);
			@include span-columns(8 omega, 12);
		}
		.contact-form__field-error {
			@include pre(4, 12);
			@include span-columns(8 omega, 12);
		}
	}
	/**
	 * END CONTACT FORM STYLING
	 */

	.main-nav__button {		
		a {
			padding: 0.75em 1em;
		}
		margin-bottom: 0;
	    @include span-columns(2);
	    @include remove-nth-omega(2n);
	    @include nth-omega(6n);
	}

	.cover-photo {
		@include span-columns(8 omega, 8);
	}

	header.main-header {
		//background-image: url('../img/topgrunge.png');
		//background-position: top center;
		@include span-columns(12);

		.header__logo {
			@include span-columns(9);
			text-align: left;

			img {
				width: 25em;
			}
		}

		nav.social {
			text-align: right;
			margin-top: 4em;
			@include span-columns(3 omega);

			ul  {
				list-style-type: none; 
				padding-left: 0;
				indent: 0;
				margin-left: 0;

				li {
					display: inline;
					a {
						padding: 0.7em;
						padding-top: 0.5em; // Because for some reason it's weird this way
						background-color: $btnGray;

						&:hover {
							background-color: $hoverRed;
						}
					}
					margin-right: 1.1em;
				}

				li:nth-child(2) {
					margin-right: 0;
				}
			}
		}
	}

	.main-content {
		@include span-columns(8);
	}

	.sidebar {
		@include span-columns(4 omega, 12);

		.sidebar-module {
			@include span-columns(4 omega, 4);
		}

		.sidebar-module__twitter {
			@include span-columns(4 omega, 4);
		}
	}
	
	article.news-story {

		.news-story__read-more {
			@include pre(5, 8);
			@include span-columns(3 omega, 8);
		}

	}

	.member__image {
		@include span-columns(3 omega, 8);
		margin-bottom: 1em;
		text-align: right;
	}

	.member__details {
		@include span-columns(5, 8);
	}

	footer.footer {
		.footer__left {
			@include span-columns(6, 12);
		}

		.footer__right {
			margin-top: 0;
			@include span-columns(6 omega, 12);
			text-align: right;
		}
	}

	.single-gig {
		@include span-columns(12);


		.single-gig__image {
			@include span-columns(4);
		}
		.single-gig__details {
			@include span-columns(8 omega);
		}
	}

	.band-video {
		@include span-columns(12);
		height: 25em;
		margin-bottom: (gutter() * 2);
	}

}
