.btn {
    font-family: $serif;
    text-transform: uppercase;
    padding: 1em;
    color: $light;
    @include text-shadow(rgba(0,0,0,0.75) 0 1px 1px);

    &:hover {
        background-color: $hoverRed;
    }
}