// SETTINGS

// General
$legacy-support-for-ie: false;
$border-box-sizing: true;

// Layout
// $container-style: static;
$total-columns: 12;
$column-width: 5em;
$gutter-width: 1.5em;
$grid-padding: $gutter-width;

$small-mid: 28em 12;
$wide-mid: 38em 12;
$wide: 45em 12; // Was 51em

// Text
$base-font-size: 1em;
$base-line-height: 1.5;

$smallFontSize: 0.8em;

// Modular Scale
$base-size: $base-font-size;
$ratio: augmented-fourth();

// Colours
$bgGray: #000;
$btnGray: #3c3c3c;
$light: #f3f3f3;
$linkRed: #c64040;
$hoverRed: #6a3939;
$disabledGray: darken($btnGray, 5%);

// Fonts
$serif: Merriweather, serif;
$sansSerif: Open Sans, Helvetica, Arial, sans-serif;