/* ================================================================
   ELEMENTS
   ================================================================ */
/* line 7, ../sass/_elements.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em;
}

/* line 13, ../sass/_elements.scss */
html,
body {
  min-height: 100%;
  font-size: 14px !important;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.07em;
  background-image: url("../img/bg-black.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  color: #f3f3f3;
  margin: 0 !important;
}

/* line 27, ../sass/_elements.scss */
html {
  font: 400 1em/1.5 "Open Sans", sans-serif;
}

/* line 31, ../sass/_elements.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_elements.scss */
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
blockquote,
form,
pre {
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}

/* line 45, ../sass/_elements.scss */
a {
  text-decoration: none;
  color: #c64040;
}

/* line 49, ../sass/_elements.scss */
a:hover {
  color: #d26767;
}

/* line 53, ../sass/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.7em;
  font-family: Merriweather, serif;
}

/* line 59, ../sass/_elements.scss */
h1,
.h1 {
  font-size: 1.75em;
}

/* line 64, ../sass/_elements.scss */
h2,
.h2 {
  font-size: 1.4em;
}

/* line 69, ../sass/_elements.scss */
textarea {
  resize: vertical;
}

/* line 1, ../sass/_objects.scss */
.btn {
  font-family: Merriweather, serif;
  text-transform: uppercase;
  padding: 1em;
  color: #f3f3f3;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px;
}
/* line 8, ../sass/_objects.scss */
.btn:hover {
  background-color: #6a3939;
}

	/* ================================================================
   COMPONENTS
   ================================================================ */
/* line 5, ../sass/_components.scss */
.container {
  max-width: 79.5em;
  _width: 79.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../sass/_components.scss */
header.main-header {
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 18, ../sass/_components.scss */
header.main-header .header__logo {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  display: block;
  text-align: center;
  margin: 3em 0;
}
/* line 22, ../sass/_components.scss */
header.main-header .header__logo img {
  width: 20em;
}
/* line 28, ../sass/_components.scss */
header.main-header nav.social {
  text-align: center;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  margin-bottom: 1.96078%;
}
/* line 33, ../sass/_components.scss */
header.main-header nav.social ul {
  list-style-type: none;
  padding-left: 0;
  indent: 0;
  margin-left: 0;
}
/* line 39, ../sass/_components.scss */
header.main-header nav.social ul li {
  display: inline;
  margin-right: 1.96078%;
}
/* line 41, ../sass/_components.scss */
header.main-header nav.social ul li a {
  padding: 0.7em;
  padding-top: 0.5em;
  background-color: #3c3c3c;
}
/* line 46, ../sass/_components.scss */
header.main-header nav.social ul li a:hover {
  background-color: #6a3939;
}
/* line 53, ../sass/_components.scss */
header.main-header nav.social ul li:nth-child(2) {
  margin-right: 0;
}

/* line 61, ../sass/_components.scss */
.main-nav ul {
  padding: 0;
  list-style-type: none;
}

/* line 67, ../sass/_components.scss */
.main-nav__button {
  text-align: center;
  font-family: Merriweather, serif;
  text-transform: uppercase;
  font-size: 1em;
  width: 49.01961%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
  margin-bottom: 1.96078%;
}
/* line 184, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/susy/sass/susy/_grid.scss */
.main-nav__button:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 77, ../sass/_components.scss */
.main-nav__button a {
  background-color: #3c3c3c;
  color: #f3f3f3;
  display: block;
  padding: 0.5em 1em;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px;
}
/* line 84, ../sass/_components.scss */
.main-nav__button a:hover {
  background-color: #6a3939;
}

/* line 90, ../sass/_components.scss */
.main-content {
  margin-bottom: 3em;
}

/* line 94, ../sass/_components.scss */
h1.section-header {
  margin-top: 0;
  font-family: Merriweather, serif;
  font-size: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

/* line 104, ../sass/_components.scss */
article.news-story h2.news-story__title {
  margin-bottom: 0.5em;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}
/* line 109, ../sass/_components.scss */
article.news-story div.news-story__meta {
  font-family: Merriweather, serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #bcbbbb;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-bottom: 2em;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}
/* line 121, ../sass/_components.scss */
article.news-story .news-story__body h1, article.news-story .news-story__body h2, article.news-story .news-story__body h3, article.news-story .news-story__body h4, article.news-story .news-story__body h5, article.news-story .news-story__body h6 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  margin-bottom: 0.3em;
}
/* line 127, ../sass/_components.scss */
article.news-story .news-story__read-more {
  display: block;
  color: orange;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  padding: 0.7em 1em;
  margin-bottom: 5em;
  text-align: center;
  text-transform: uppercase;
  font-family: Merriweather, serif;
  color: #f3f3f3;
  background-color: #3c3c3c;
  margin-top: 2em;
}
/* line 141, ../sass/_components.scss */
article.news-story .news-story__read-more:hover {
  background-color: #6a3939;
}

/* line 149, ../sass/_components.scss */
.cover-photo {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  margin-bottom: 1.96078%;
}
/* line 150, ../sass/_components.scss */
.cover-photo > img {
  max-width: 100%;
  max-height: 30em;
}

/* line 159, ../sass/_components.scss */
.sidebar {
  margin-bottom: 3em;
}

/* line 163, ../sass/_components.scss */
.sidebar-module {
  margin-bottom: 1.96078%;
}

/* line 168, ../sass/_components.scss */
.sidebar-module--gigs .gig, .sidebar-module--gigs .band-member, .sidebar-module--band-members .gig, .sidebar-module--band-members .band-member {
  display: block;
  color: #f3f3f3;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  background-color: #3c3c3c;
  padding: 1.96078%;
  margin-bottom: 1em;
}
/* line 176, ../sass/_components.scss */
.sidebar-module--gigs .gig:hover, .sidebar-module--gigs .band-member:hover, .sidebar-module--band-members .gig:hover, .sidebar-module--band-members .band-member:hover {
  background-color: #6a3939;
}
/* line 179, ../sass/_components.scss */
.sidebar-module--gigs .gig .gig__image, .sidebar-module--gigs .gig .band-member__avatar, .sidebar-module--gigs .band-member .gig__image, .sidebar-module--gigs .band-member .band-member__avatar, .sidebar-module--band-members .gig .gig__image, .sidebar-module--band-members .gig .band-member__avatar, .sidebar-module--band-members .band-member .gig__image, .sidebar-module--band-members .band-member .band-member__avatar {
  width: 15.03268%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
}
/* line 183, ../sass/_components.scss */
.sidebar-module--gigs .gig .gig__info, .sidebar-module--gigs .gig .band-member__info, .sidebar-module--gigs .band-member .gig__info, .sidebar-module--gigs .band-member .band-member__info, .sidebar-module--band-members .gig .gig__info, .sidebar-module--band-members .gig .band-member__info, .sidebar-module--band-members .band-member .gig__info, .sidebar-module--band-members .band-member .band-member__info {
  width: 83.00654%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 186, ../sass/_components.scss */
.sidebar-module--gigs .gig .gig__info .gig__info-venue, .sidebar-module--gigs .gig .gig__info .band-member__info-name, .sidebar-module--gigs .gig .band-member__info .gig__info-venue, .sidebar-module--gigs .gig .band-member__info .band-member__info-name, .sidebar-module--gigs .band-member .gig__info .gig__info-venue, .sidebar-module--gigs .band-member .gig__info .band-member__info-name, .sidebar-module--gigs .band-member .band-member__info .gig__info-venue, .sidebar-module--gigs .band-member .band-member__info .band-member__info-name, .sidebar-module--band-members .gig .gig__info .gig__info-venue, .sidebar-module--band-members .gig .gig__info .band-member__info-name, .sidebar-module--band-members .gig .band-member__info .gig__info-venue, .sidebar-module--band-members .gig .band-member__info .band-member__info-name, .sidebar-module--band-members .band-member .gig__info .gig__info-venue, .sidebar-module--band-members .band-member .gig__info .band-member__info-name, .sidebar-module--band-members .band-member .band-member__info .gig__info-venue, .sidebar-module--band-members .band-member .band-member__info .band-member__info-name {
  font-weight: bold;
  display: block;
}
/* line 191, ../sass/_components.scss */
.sidebar-module--gigs .gig .gig__info .gig__info-date, .sidebar-module--gigs .gig .gig__info .band-member__info-instruments, .sidebar-module--gigs .gig .band-member__info .gig__info-date, .sidebar-module--gigs .gig .band-member__info .band-member__info-instruments, .sidebar-module--gigs .band-member .gig__info .gig__info-date, .sidebar-module--gigs .band-member .gig__info .band-member__info-instruments, .sidebar-module--gigs .band-member .band-member__info .gig__info-date, .sidebar-module--gigs .band-member .band-member__info .band-member__info-instruments, .sidebar-module--band-members .gig .gig__info .gig__info-date, .sidebar-module--band-members .gig .gig__info .band-member__info-instruments, .sidebar-module--band-members .gig .band-member__info .gig__info-date, .sidebar-module--band-members .gig .band-member__info .band-member__info-instruments, .sidebar-module--band-members .band-member .gig__info .gig__info-date, .sidebar-module--band-members .band-member .gig__info .band-member__info-instruments, .sidebar-module--band-members .band-member .band-member__info .gig__info-date, .sidebar-module--band-members .band-member .band-member__info .band-member__info-instruments {
  font-size: 0.8em;
}

/* line 199, ../sass/_components.scss */
.twitter-timeline {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  height: 30em;
}

/* line 204, ../sass/_components.scss */
ul.pagination {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  text-align: center;
  list-style-type: none;
  text-indent: 0;
  padding-left: 0;
  font-family: Merriweather, serif;
}
/* line 212, ../sass/_components.scss */
ul.pagination li {
  float: left;
  background-color: #3c3c3c;
  margin-right: 0.5em;
  font-weight: 700;
}
/* line 218, ../sass/_components.scss */
ul.pagination li.active, ul.pagination li.disabled {
  background-color: #2f2f2f;
  color: #5a5a5a;
}
/* line 223, ../sass/_components.scss */
ul.pagination li a {
  color: #f3f3f3;
}
/* line 227, ../sass/_components.scss */
ul.pagination li a, ul.pagination li.active, ul.pagination li.disabled {
  padding: 0.5em;
  display: block;
}

/* line 235, ../sass/_components.scss */
.member__image {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  margin-bottom: 1em;
}

/* line 240, ../sass/_components.scss */
.member__details {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}

/* line 245, ../sass/_components.scss */
#gig-list .gig-list__gig {
  color: #f3f3f3;
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
  margin-right: 0;
  height: 10em;
  display: block;
}
/* line 251, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-image {
  width: 15.03268%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
}
/* line 253, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-image img {
  height: 10em;
}
/* line 257, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-details {
  text-align: center;
  width: 83.00654%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  height: 10em;
  background-color: #3c3c3c;
}
/* line 259, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-details .gig-details__venue {
  padding: 1em;
  background-color: #565656;
}
/* line 263, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-details .gig-details__venue:hover {
  background-color: #5d5d5d;
}
/* line 267, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-details .gig-details__info {
  padding: 1em;
  line-height: 1.5em !important;
}
/* line 275, ../sass/_components.scss */
#gig-list .gig-list__gig .gig-details:hover {
  background-color: #444444;
}

/* line 282, ../sass/_components.scss */
.contact-form {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 285, ../sass/_components.scss */
.contact-form .contact-form__control {
  margin-bottom: 1.96078%;
}
/* line 288, ../sass/_components.scss */
.contact-form .contact-form__label {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  padding: 0.5em;
}
/* line 292, ../sass/_components.scss */
.contact-form .contact-form__input {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  padding: 0.5em;
}
/* line 296, ../sass/_components.scss */
.contact-form .contact-form__input--offset {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 299, ../sass/_components.scss */
.contact-form .contact-form__input.error {
  border: 1px solid #c64040;
  color: #c64040;
  background-color: white !important;
}
/* line 304, ../sass/_components.scss */
.contact-form .contact-form__submit {
  background-color: #3c3c3c;
  border: 0;
  padding: 1em;
  color: #f3f3f3;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px;
}
/* line 311, ../sass/_components.scss */
.contact-form .contact-form__submit:hover {
  background-color: #6a3939;
}
/* line 315, ../sass/_components.scss */
.contact-form .contact-form__field-error {
  color: #dd8f8f;
  font-size: 0.8em;
  margin-top: 1.96078%;
}

/* line 322, ../sass/_components.scss */
.success {
  background-color: #48ba65;
  padding: 1em;
  margin-bottom: 1em;
}

/* line 328, ../sass/_components.scss */
.errors, .error {
  background-color: #c64040;
  padding: 1em;
  color: #f3f3f3;
  margin-bottom: 1em;
}
/* line 334, ../sass/_components.scss */
.errors ul, .error ul {
  margin-top: 1em;
}

/* line 340, ../sass/_components.scss */
footer.footer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  padding-bottom: 3em !important;
  margin-top: 6em !important;
}
/* line 345, ../sass/_components.scss */
footer.footer .footer__logo {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  margin-bottom: 2em;
}
/* line 350, ../sass/_components.scss */
footer.footer .footer__left {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 353, ../sass/_components.scss */
footer.footer .footer__left .contact-details {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  height: 100%;
}
/* line 360, ../sass/_components.scss */
footer.footer .footer__right {
  margin-top: 2em;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 365, ../sass/_components.scss */
footer.footer .footer__right .copyright {
  margin-top: 3em;
}

/* line 371, ../sass/_components.scss */
.single-gig {
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
}
/* line 374, ../sass/_components.scss */
.single-gig .single-gig__image {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  margin-bottom: 1.96078%;
}
/* line 378, ../sass/_components.scss */
.single-gig .single-gig__details {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
}
/* line 381, ../sass/_components.scss */
.single-gig .single-gig__details .single-gig__description {
  margin-bottom: 3.92157%;
}
/* line 386, ../sass/_components.scss */
.single-gig .single-gig__venue {
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
  margin-top: 3.92157% !important;
}
/* line 390, ../sass/_components.scss */
.single-gig .single-gig__venue .venue__map {
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
  height: 15em;
  margin-bottom: 3.92157% !important;
}

/* line 398, ../sass/_components.scss */
.band-photos {
  margin-bottom: 3.92157%;
}
/* line 399, ../sass/_components.scss */
.band-photos .band-photos__photo {
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
}

/* line 406, ../sass/_components.scss */
.band-video {
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
  height: 15em;
}

/* ================================================================
   MEDIA QUERIES
   ================================================================ */
/* Small-mid
   ---------------------------------------------------------------- */
/* Wide-mid
   ---------------------------------------------------------------- */
/* Wide
   ---------------------------------------------------------------- */
@media (min-width: 45em) {
  /**
   * START CONTACT FORM STYLING
   */
  /* line 29, ../sass/_media.scss */
  .contact-form {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 32, ../sass/_media.scss */
  .contact-form .contact-form__control {
    margin-bottom: 1.96078%;
  }
  /* line 35, ../sass/_media.scss */
  .contact-form .contact-form__label {
    width: 32.02614%;
    float: left;
    margin-right: 1.96078%;
    padding: 0.5em;
  }
  /* line 39, ../sass/_media.scss */
  .contact-form .contact-form__input {
    width: 66.01307%;
    float: right;
    margin-right: 0;
    padding: 0.5em;
  }
  /* line 43, ../sass/_media.scss */
  .contact-form .contact-form__input--offset {
    margin-left: 33.98693%;
    width: 66.01307%;
    float: right;
    margin-right: 0;
  }
  /* line 47, ../sass/_media.scss */
  .contact-form .contact-form__field-error {
    margin-left: 33.98693%;
    width: 66.01307%;
    float: right;
    margin-right: 0;
  }

  /**
   * END CONTACT FORM STYLING
   */
  /* line 56, ../sass/_media.scss */
  .main-nav__button {
    margin-bottom: 0;
    width: 15.03268%;
    float: left;
    margin-right: 1.96078%;
  }
  /* line 57, ../sass/_media.scss */
  .main-nav__button a {
    padding: 0.75em 1em;
  }
  /* line 251, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/susy/sass/susy/_grid.scss */
  .main-nav__button:nth-child(2n) {
    float: left;
    margin-right: 1.96078%;
  }
  /* line 184, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/susy/sass/susy/_grid.scss */
  .main-nav__button:nth-child(6n) {
    float: right;
    margin-right: 0;
  }

  /* line 66, ../sass/_media.scss */
  .cover-photo {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  /* line 70, ../sass/_media.scss */
  header.main-header {
    width: 100%;
    float: left;
    margin-right: 1.96078%;
  }
  /* line 75, ../sass/_media.scss */
  header.main-header .header__logo {
    width: 74.5098%;
    float: left;
    margin-right: 1.96078%;
    text-align: left;
  }
  /* line 79, ../sass/_media.scss */
  header.main-header .header__logo img {
    width: 25em;
  }
  /* line 84, ../sass/_media.scss */
  header.main-header nav.social {
    text-align: right;
    margin-top: 4em;
    width: 23.52941%;
    float: right;
    margin-right: 0;
  }
  /* line 89, ../sass/_media.scss */
  header.main-header nav.social ul {
    list-style-type: none;
    padding-left: 0;
    indent: 0;
    margin-left: 0;
  }
  /* line 95, ../sass/_media.scss */
  header.main-header nav.social ul li {
    display: inline;
    margin-right: 1.1em;
  }
  /* line 97, ../sass/_media.scss */
  header.main-header nav.social ul li a {
    padding: 0.7em;
    padding-top: 0.5em;
    background-color: #3c3c3c;
  }
  /* line 102, ../sass/_media.scss */
  header.main-header nav.social ul li a:hover {
    background-color: #6a3939;
  }
  /* line 109, ../sass/_media.scss */
  header.main-header nav.social ul li:nth-child(2) {
    margin-right: 0;
  }

  /* line 116, ../sass/_media.scss */
  .main-content {
    width: 66.01307%;
    float: left;
    margin-right: 1.96078%;
  }

  /* line 120, ../sass/_media.scss */
  .sidebar {
    width: 32.02614%;
    float: right;
    margin-right: 0;
  }
  /* line 123, ../sass/_media.scss */
  .sidebar .sidebar-module {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 127, ../sass/_media.scss */
  .sidebar .sidebar-module__twitter {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  /* line 134, ../sass/_media.scss */
  article.news-story .news-story__read-more {
    margin-left: 64.35644%;
    width: 35.64356%;
    float: right;
    margin-right: 0;
  }

  /* line 141, ../sass/_media.scss */
  .member__image {
    width: 35.64356%;
    float: right;
    margin-right: 0;
    margin-bottom: 1em;
    text-align: right;
  }

  /* line 147, ../sass/_media.scss */
  .member__details {
    width: 61.38614%;
    float: left;
    margin-right: 2.9703%;
  }

  /* line 152, ../sass/_media.scss */
  footer.footer .footer__left {
    width: 49.01961%;
    float: left;
    margin-right: 1.96078%;
  }
  /* line 156, ../sass/_media.scss */
  footer.footer .footer__right {
    margin-top: 0;
    width: 49.01961%;
    float: right;
    margin-right: 0;
    text-align: right;
  }

  /* line 163, ../sass/_media.scss */
  .single-gig {
    width: 100%;
    float: left;
    margin-right: 1.96078%;
  }
  /* line 167, ../sass/_media.scss */
  .single-gig .single-gig__image {
    width: 32.02614%;
    float: left;
    margin-right: 1.96078%;
  }
  /* line 170, ../sass/_media.scss */
  .single-gig .single-gig__details {
    width: 66.01307%;
    float: right;
    margin-right: 0;
  }

  /* line 175, ../sass/_media.scss */
  .band-video {
    width: 100%;
    float: left;
    margin-right: 1.96078%;
    height: 25em;
    margin-bottom: 3.92157%;
  }
}
/* ================================================================
   HELPER CLASSES
   ================================================================ */
/* line 6, ../sass/_helper.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
