	body {
		background-color: #171717;
		color: #fff;
		font-family: Merriweather, sans-serif;
		font-size: 16px;
	}

	.logo {
		height: 25em;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	h1 {
		font-weight: bold;
		font-size: 2em;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	h2 {
		text-transform: uppercase;
		margin-top:0;
		font-weight: 300;
		font-size: 1em;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 100;
		font-size: 0.8em;
		margin-top:0;
	}