@import 'foundation.min.css';
body { box-sizing: border-box; }


.redtext {
	color: red;
}

.edit > form > input {
	padding: 13px 5px;
}

.log-select {
	display: inline-block;
}

span.label a {
	color: #fff;
}

.form-horizontal .control-label {
    text-align: left;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.page-title {
    margin-bottom: 30px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-t-15 {
    margin-top: 15px;
}

.selected-venue {
    display: block;
}

#choose-existing-venue-input {
    padding: 10px;
}

/**
 ****************************
 * START TYPEAHEAD STYLING
 ****************************
 */

.tt-dropdown-menu {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
}

.tt-suggestion {
    padding: 10px;
    border: 1px solid gray;
}

.tt-suggestion:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tt-is-under-cursor {
    background-color: lightgray;
}

.tt-hint {
    display: none;
}
/**
 ****************************
 * END TYPEAHEAD STYLING
 ****************************
 */

.hidden {
    display: none;
}
.panel > .button {
    color: white !important;
}



.small {
    font-size: 0.8em;
}

.light {
    color: darkgray;
}

.danger {
    background-color: #f34013 !important;
    border-color: #de3b11 !important;
}

h1.page-title {
    text-align: center;
}

.top-bar__user-info a {
    background-color: #484848 !important;
}

.top-bar__avatar {
    margin-top: -1px;
    margin-right: 10px;
    border: 1px solid gray;
    line-height: 100%;
}

.panel .button {
    margin-bottom: 0 !important;
}

.mce-tinymce {
    margin-bottom: 16px !important;
}

div.error > .mce-tinymce {
    margin-bottom: 0 !important;
}